@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sora: 'Sora', sans-serif;
}

@layer base {
  body {
    font-family: var(--font-sora);
    background: radial-gradient(circle at left center, #5D23DE 46%, #000000 85%);
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }
}

.prose img {
  margin-left: auto;
  margin-right: auto;
}

.prose figure {
  text-align: center;
}